/* Author: Yarli Borges Rabelo */

/* general ***************************************************************/
/* service title general set up  */
.serv-title {
    font-size: 1.1em;
    text-align: left;
    padding-left: 25%;
    position: relative;
    top: -10px;
}

/* service description in general */
.serv-desc {
    word-wrap: break-word;
    line-break: auto;
    position: relative;
    padding-left: 20px;
    line-height: 1.1em;
    font-size: 15px;
    letter-spacing: 1.5px;
    top: -16px;
}

/* tooltip animation for prices display */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: rgb(164, 160, 160);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 80%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgb(164, 160, 160) transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* this creates an unordered list inside span */
.styled-span {
    list-style-type: disc;
    margin: 0;
    padding-left: 20px;
}

.styled-span p:before {
    content: "\2022";
    display: inline-block;
    width: 10px;
    margin-left: -20px;
}

/* Mobile layout ***********************************************************/
/* wrapper contains all grids in */
.wrapper {
    display: grid;
    row-gap: 20px;
    grid-auto-rows: minmax(5%, auto);
    font-family: Georgia, Palatino, serif;
    padding-bottom: 2.5rem;
}

/* services boxes defined on desktop */
.services-opt {
    border: solid rgb(243, 221, 164);
    border-style: groove;
    width: 100%;
    block-size: 100%;
    display: flex;
    flex-wrap: nowrap;
    background-color: #660000;
}

/* multiple icons */
.serv-log {
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    height: 60px;
}

/* individual icon */
.toilet {
    height: 70px;
}

/* footer on mobile */
.ft {
    margin-top: 0px;
    height: 60px;
    overflow: auto;
}

/* Desktop layout *******************************************************/
@media (min-width: 768px) {

    /* wrapper contains all grids in */
    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2%;
        padding-top: 3%;
        grid-auto-rows: minmax(15%, auto);
        font-size: 1.1em;
    }

    /* service tittle */
    .serv-title {
        font-size: 1.1em;
        text-align: left;
        position: relative;
        top: -10px;
    }

    /* services boxes defined on desktop */
    .services-opt {
        border: solid rgb(243, 221, 164);
        border-style: groove;
        width: 100%;
        block-size: 165px;
        display: flex;
        flex-wrap: nowrap;
        background-color: #660000;
    }

    /* grids blocks */
    #opt-1 {
        grid-column: 1;
        grid-row: 1;
        top: 10%;
    }

    #opt-2 {
        grid-column: 2;
        grid-row: 1;
        top: 10%;
    }

    #opt-3 {
        grid-column: 1;
        grid-row: 2;
        bottom: 35%;
    }

    #opt-4 {
        grid-column: 2;
        grid-row: 2;
        bottom: 35%;
    }

    #opt-5 {
        grid-column: 1;
        grid-row: 3;
        bottom: 80%;
    }

    #opt-6 {
        grid-column: 2;
        grid-row: 3;
        bottom: 80%;
    }

    #opt-7 {
        grid-column: 1;
        grid-row: 4;
        bottom: 125%;
    }

    #opt-8 {
        grid-column: 2;
        grid-row: 4;
        bottom: 125%;
    }

    #opt-9 {
        grid-column: 1;
        grid-row: 5;
        bottom: 170%;
    }

    #opt-10 {
        grid-column: 2;
        grid-row: 5;
        bottom: 170%;
    }

    #opt-11 {
        grid-column: 1;
        grid-row: 6;
        bottom: 215%;
    }

    #opt-12 {
        grid-column: 2;
        grid-row: 6;
        bottom: 215%;
    }

    /* multiple icons  modified */
    .serv-log {
        position: relative;
    }

    /* indivual icon modified */
    .toilet {
        height: 70px;
    }

    /* service description re-adapted */
    .serv-desc {
        line-height: 1.1em;
        font-size: 15px;
        word-wrap: break-word;
        letter-spacing: 1.5px;
        position: relative;
        line-break: auto;
        top: -15px;
    }

    /* footer on desktop */
    .ft {
        margin-top: 0px;
        height: 60px;
    }

}